.discover-tab {
    background: rgba(49, 49, 49, 0.87);
    text-align: center;
    padding: 30px;
    width: 600px;
    min-height: 600px;
}

.ban-list {
    color: black;
    background-color: #d2d2d2;
    padding: 15px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    min-height: 400px;
    text-align: center;
    overflow: auto;
}

.attribute {
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-weight: 500;
    margin: 5px;
    transition: border-color .25s;
    border-radius: 8px;
    font-size: 1em;
}

.attribute:focus {
    filter: none;
}

#origin:hover {
    border-color: rgb(0, 119, 255);
}

.discover-button {
    background-color: #8d6612f0;
    border-radius: 15px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-weight: 500;
    cursor: pointer;
    font-size: 1em;
    margin-top: 5px;
}

.discover-button:hover {
    border-color: #d3991bf0;
}

.entry-container h2 {
    color: white;
}

.entry-image {
    width: 50%;
}

.banned {
    margin: 5px;
    padding: 0.3em;
}